*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
     width: 100vw;
     height: 100vh;
     background: #833AB4;
     background: radial-gradient(circle, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
     display: grid;
     place-items: center;
}

.gameInfo{
    color: white;
    width: 12vw;
    height: 5vh;
    background-color: red;
    text-align: center;
    padding: 5px;
    background-color: rgba(255,255,255,0.15);
    border-radius: 2rem;
}

.tic-tac-toe{

    width: 90%;
    max-width: 20rem;
    background-color: rgba(255,255,255,0.15);
     border-radius: 2rem;
     padding: 2rem;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     border: 1px solid rgba(255,255,255,0.15);
     aspect-ratio: 1/1;
}

.box{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box1 , .box2 , .box4 , .box5{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.box3 , .box6{
    border-bottom: 2px solid white;
}

.box7 , .box8{
    border-right: 2px solid white;
}

.btn-new{
    color: white;
    width: 12vw;
    height: 5vh;
    background-color: red;
    text-align: center;
    padding: 5px;
    background-color: rgba(255,255,255,0.15);
    border-radius: 2rem;
    border: 1px solid rgba(255,255,255,0.15);
    cursor: pointer;
    /* display: none; */

}

.btn-new.active{
    display: flex;
}

.win{
    background-color: rgba(0,255,0,0.3);
}