*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
     width: 100vw;
     height: 100vh;
     background: #833AB4;
     background: radial-gradient(circle, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
     display: grid;
     place-items: center;
}

.gameInfo{
    color: white;
    width: 12vw;
    height: 5vh;
    background-color: red;
    text-align: center;
    padding: 5px;
    background-color: rgba(255,255,255,0.15);
    border-radius: 2rem;
}

.tic-tac-toe{

    width: 90%;
    max-width: 20rem;
}